*{box-sizing: border-box;}
.row{width: 100%;}
h1{text-align:center; }
p{background-color: #78EFC9;
border: 1px red solid;
margin-left: auto;
margin-right: auto;
width: 90%;
text-align: justify;
padding: 8px;
font-family: "Times New Roman", Times, serif;
font-size: 18px;}
h3{position:relative;
top: 20px;
left: 80%;
border: 1px green solid;
width: 20%;
background-color: #71C1FF;
height: 50px; }
/*--------------------------------small device only----------------------*/
@media(max-width:767px ){
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12
	{float: left;}
	.col-sm-12{width:100%;
		border: 1px blue solid;}
	
}
/*--------------------------------medium device only----------------------*/
@media(min-width: 768px) {
	.col-md-6{width: 50%;
		float: left;
	border: 1px blue solid;}
}
/*--------------------------------large device only----------------------*/
@media(min-width: 992px){
	.col-lg-4{width: 33.33%;
		float: left;
	border: 1px blue solid;}
}